<div class="container">
    <p>Lista osób</p>

    {{#each users}}
    <div class="card mb-3">
        <h3>{{this.username}} {{this.name}}</h1>
        <h4>{{this.email}}</h3>
        <p>{{this.address.street}} {{this.address.suite}}</p>
        <p>{{this.address.zipcode}} {{this.address.city}}</p>
        <a href="{{this.website}}">{{this.website}}</a>
    </div>
    {{/each}}
</div>